body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#root {
  width: 220px;
  height: 150px;
  position: relative;
  transform: translateZ(0);
}

.abs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.fill {
  height: 100%;
  width: 100%;
}